@font-face {
    font-family: 'title';
    src: url('../fonts/18 Khebrat Musamim Bold.woff2') format('woff2'),
        url('../fonts/18 Khebrat Musamim Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'txt';
    src: url('../fonts/(A) Arslan Wessam B (A) Arslan Wessam B (convert.io).woff2') format('woff2'),
        url('../fonts/(A) Arslan Wessam B (A) Arslan Wessam B (convert.io).woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'info';
    src: url('../fonts/Antro_Vectra_Bolder.woff2'),
        url('../fonts/Antro_Vectra_Bolder.woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f4a261;
    font-family: txt;
}

input {
    height: 6vw;
    font-size: 5vw;
    font-family: txt;
    margin-top: 1%;
    margin-left: 25%;
    color: #e9c46a;
    background-color: #264653;
    border: 1px solid #2a9d8f;
    border-radius: 0.5vw;
    text-align: center;
}

#filter {
    margin-top: 1vw;
}

select {
    height: 5.75vw;
    margin-top: 1vw;
    padding-left: 0.3vw;
    padding-top: 0;
    padding-bottom: 0;
    font-family: title;
    font-size: 2.9vw;
    color: #e9c46a;
    background-color: #264653;
    border: 1px solid #2a9d8f;
    border-radius: 0.5vw;
}

#firstSelect {
    margin-left: 16.5vw;
}

option {
    font-size: calc(2vw + 10px);
    color: #e9c46a;
    background-color: #264653;
    border: 1px solid #2a9d8f;
    border-radius: 0.5vw;
}

button {
    margin-top: 1.5vw;
    font-family: title;
    font-size: calc(3vw);
    color: #e9c46a;
    background-color: #264653;
    border: 1px solid #2a9d8f;
    border-radius: 0.5vw;
}

.find {
    margin-left: 33.3333%;
}

#result {
    margin-top: 3vw;
    color: #e9c46a;
    background-color: #264653;
    border: 1px solid #2a9d8f;
    border-radius: 0.5vw;
    height: 11vw;
}

.resultValue {
    font-family: txt;
    font-size: 7vw;
    color: #e9c46a;
    text-align: center;
}

.hidden {
    display: none;
}

#information {
    position: absolute;
    padding-right: 0.5vw;
    padding-bottom: 1vw;
    right: 0;
    bottom: 0;
}

#informationData {
    color: white;
    font-size: 1.75vw;
    text-align: center;
    font-family: info;
}

a {
    color: #264653;
    font-size: 2vw;
    text-decoration: none;
}

a:hover {
    color: #2a9d8f;
    text-decoration: none;
}